* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #006d77;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;

    overflow-x: hidden;
}

main {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;

    width: 100%;
    max-width: 600px;
}

main h2 {
    text-align: center;
}

table {
    background-color: white;

    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    margin: auto;
}

th , td {
    border: 1px solid black;
    padding: 10px;
}

th.titulo {
    background-color: lightgray;
}

td.tdfoot {
    padding: 1px;
    text-align: center;
    font-style: italic;
}

#dados input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    padding: 15px;

    font-size: 1.1rem;
}

#dados #btn {
    background-color: #006d77;
    color: white;

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    border: none;

    margin-top: 20px;
    width: 100;

    cursor: pointer;
}

#dados #btn:hover {
    background-color: hsl(185, 100%, 28%);
}

#resultado {
    font-size: 1.1rem;

    padding: 15px;
    margin-top: 30px;
}